/* Variables */
:root {
  --primary-color: #1762a7;
  --secondary-color: #202027;
  --background-color: #2f303a;
  --accent-color: #bc3a80;
  --light-color: #eeeeee;
  --primary-gradient: linear-gradient(
    90deg,
    rgba(23, 98, 167, 1) 0%,
    rgba(188, 58, 128, 1) 100%
  );
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Open sans", sans-serif;
}

/* Style Reset */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
input,
select,
button {
  font-family: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
h4,
h5,
h6,
ul,
li,
a {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
a,
li {
  text-decoration: none;
  outline: none;
}

/* Font Styles/Size */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  font-family: var(--primary-font);
  color: var(--light-color);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}
h2 {
  font-size: 1.5em;
}
p {
  font-family: var(--secondary-font);
  color: var(--light-color);
  font-size: 1.1em;
}
ul li a {
  font-size: 1.2em;
  letter-spacing: 0.25px;
}
.btn {
  font-family: var(--primary-font);
  letter-spacing: 0.25px;
}
html {
  font-size: 18px;
}

/* Link Styles */
.navigation-list__item {
  color: var(--light-color);
  outline: none;
}
.navigation-list__item:visited {
  color: var(--accent-color);
}
.navigation-list li:hover {
  transform: scale(1.1);
}

/* Button Styles */
.btn {
  display: inline-block;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}
.btn-primary {
  background: rgb(23, 98, 167);
  background: linear-gradient(
    45deg,
    rgba(23, 98, 167, 1) 40%,
    rgba(188, 58, 128, 1) 100%
  );
  padding: 12px 22px;
  color: var(--light-color);
}
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--light-color);
}
.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.12);
  transition: all 400ms;
}
.btn-secondary:hover,
.btn-secondary:focus {
  transform: scale(1.12);
  transition: all 400ms;
}

/* Header Styling */
.page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  height: 75px;
}
.page-header__logo {
  height: 45px;
}

/* Content Styling */
main {
  min-height: calc(100vh - 150px);
  padding-bottom: 75px;
}

/* Footer Styling */
.page-footer {
  height: 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1em 0;
}
.page-footer__icon-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
.page-footer__text {
  color: #111122;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 1em;
}
.page-footer__icon {
  width: 40px;
  color: var(--light-color);
  margin: 0 1em;
  outline: none;
}
.page-footer__icon:hover,
.page-footer__icon:focus {
  transform: scale(1.12);
  transition: all 300ms;
}

/* Home Page Styling */
.profile {
  max-width: 900px;
  margin: 75px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.profile__heading {
  letter-spacing: 2px;
}
.profile__heading-accent {
  font-size: 1.5em;
  line-height: 1;
  color: var(--accent-color);
}
.profile__portrait {
  width: 250px;
  border-radius: 50%;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  width: fit-content;
}
.profile__text {
  margin-bottom: 30px;
  letter-spacing: 0.75px;
}
.profile__text-accent {
  color: var(--primary-color);
  font-size: 1.5em;
}
.profile__btn-container .btn:last-of-type {
  margin-left: 1em;
}

/* Work Page Styling */
.work__grid-item {
  display: inline-block;
  width: 33%;
}
@supports (display: grid) {
  .work__container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 25px 100px;
  }
  .work__grid-item {
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .work__grid-item:last-child {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
  }
  .work__heading {
    width: fit-content;
    margin: 20px auto;
  }
  .work__grid-item-heading {
    color: var(--primary-color);
    margin-bottom: 1em;
  }
  .work__grid-item-text {
    color: var(--light-color);
    font-size: 0.9em;
    margin-bottom: 2em;
    padding-bottom: 80px;
  }
  .work__grid-item-link {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
  }
  .work__grid-item-img-container {
    display: flex;
    justify-content: center;
  }
  .work__heading-accent {
    color: var(--accent-color);
    font-size: 1.25em;
  }
  .work__grid-item-heading-accent {
    color: var(--accent-color);
    font-size: 1.7em;
  }
  .work__grid-item-text-accent {
    padding: 0;
    margin: 20px 0;
  }
  .work__grid-item-text-accent:last-of-type {
    padding-bottom: 60px;
  }
  .work__grid-item-accent-img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 7px;
  }
}
.work__grid-item-link {
  background-color: var(--background-color);
  color: var(--light-color);
  text-align: center;
  font-weight: normal;
}
.work__grid-item-link:hover {
  transform: scale(1.05);
  transition: all 300ms;
}

/* Contact Page & Form Styling */
.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  width: 100%;
  padding: 20px 100px;
  margin: 20px auto;
}
.contact__heading h1 {
  font-size: 2em;
}
.contact__heading-accent {
  font-size: 1.5em;
  color: #bc3a80;
}
.contact__container-form {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 7px;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 25px;
}
.contact__label {
  color: var(--light-color);
  font-family: var(--primary-font);
  font-size: 1.1em;
  letter-spacing: 0.25px;
  display: block;
  margin-bottom: 5px;
}
.contact__input {
  font-family: var(--secondary-font);
  color: var(--background-color);
  display: block;
  width: 100%;
  border: 3px solid var(--primary-color);
  outline: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-bottom: 10px;
}
.contact__textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  resize: vertical;
  height: 100px;
  min-height: 100px;
  max-height: 400px;
}
.contact__input::placeholder {
  font-family: var(--secondary-font);
  opacity: 0.8;
}
.contact__input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 1px var(--accent-color);
}
.btn-form {
  letter-spacing: 0.25px;
  margin: 20px auto;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  border: none;
}
.btn-form:hover,
.btn-form:focus {
  transform: scale(1.03);
}

/* About Page Styling */
.about__heading {
  font-size: 2em;
  color: var(--accent-color);
  width: fit-content;
  margin: 40px auto;
}
.about__grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 20px 100px;
}
.about__grid-item {
  background-color: var(--secondary-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  min-width: 200px;
  padding: 30px;
}
.about__grid-item-heading {
  width: fit-content;
  margin: 20px auto;
  font-size: 2em;
  color: var(--primary-color);
}
.about__grid-item-text {
  padding: 10px;
}
.about__subgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-items: center;
  align-items: center;
}
.about__subgrid-card {
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 20px 30px;
}
.about__subgrid-card h3 {
  font-size: 1.5em;
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}
.about__subgrid-card h4 {
  text-align: center;
  color: #dddddd;
  font-size: 1.25em;
}
.about__subgrid-card p {
  color: #ff5722;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}
.about__subgrid-card p.beginner {
  color: green;
}
.about__subgrid-img-container {
  display: flex;
  justify-content: center;
}
.about__subgrid-card-icon {
  width: 100px;
  margin: 10px auto;
}
.about__grid-item-heading-accent {
  color: var(--accent-color);
}

@media all and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .page-header {
    flex-direction: column;
    padding: 10px 40px;
  }
  .page-header__logo {
    height: 30px;
    margin-bottom: 20px;
  }
  .profile {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 40px auto 0 auto;
    justify-items: center;
    align-items: center;
  }
  .profile__portrait {
    width: 150px;
    border-radius: 7px;
  }
  .profile__text {
    text-align: center;
  }
  .profile__btn-container {
    text-align: center;
  }
  .work__container-grid {
    grid-template-columns: 1fr;
    margin: 20px 50px;
  }
  .work__grid-item:last-child {
    grid-column: 1 / 1;
  }
  .work__grid-item-heading-accent {
    text-align: center;
  }
  .about__grid-container {
    grid-template-columns: 1fr;
    margin: 20px 50px;
    justify-items: center;
    align-items: center;
    max-width: 80%;
  }
  .about__grid-item-heading {
    text-align: center;
  }
  .about__subgrid {
    justify-items: center;
  }
  .about__subgrid-card {
    margin-bottom: 20px;
  }
  .about__subgrid-card-icon {
    width: 75px;
  }
  .contact__container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px 50px;
    margin: 20px auto;
    justify-items: center;
  }
  .contact__container-form {
    max-width: 500px;
    margin: ;
  }
  .contact__heading {
    text-align: center;
  }
}

@media all and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
