.about__container {
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 1fr;
}

.about__img {
  background-image: url('../img/about-matt.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__hr {
  margin: 32px 0;
  color: var(--dark-blue);
}

.about__title {
  font-size: 42px;
  margin-bottom: 24px;
}

.about__text {
  line-height: 30px;
  margin-bottom: 24px;
}

.about__btn {
  margin-bottom: 18px;
}

/* Tablet */
@media all and (min-width: 768px) {
  .about__container {
    padding: 0 40px;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 70px;
    grid-template-rows: 600px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about__hr {
    margin: 0;
  }
}

/* Desktop */
@media all and (min-width: 1440px) {
  .about__container {
    padding: 0 165px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 125px;
    grid-template-rows: 600px;
    grid-column-gap: 70px;
  }
}
