.contact__container {
  padding: 0 32px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 350px;
}
.contact__hr {
  display: none;
}

/* Tablet */
@media all and (min-width: 768px) {
  .contact__container {
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__title {
    margin-bottom: 0;
    text-align: left;
  }
  .contact__hr {
    display: block;
    color: #33323d;
    min-width: 110px;
    flex-grow: 1;
    margin: 0 32px;
  }
}

/* Desktop */
@media all and (min-width: 1440px) {
  /* Todo */
}
