.getInTouch__container {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 689px;
}

.getInTouch__hr {
  margin-bottom: 24px;
}

.getInTouch__title {
  margin-bottom: 24px;
}

.getInTouch__text {
  margin-bottom: 24px;
}

.getInTouch__icons {
  display: flex;
  margin-bottom: 32px;
}

.getInTouch__btn {
  margin-bottom: 24px;
}

.getInTouch__fontawesome {
  font-size: 24px;
  transition: all 300ms ease-out;
}

.getInTouch__fontawesome:hover {
  color: var(--desaturated-cyan);
}

.getInTouch__icons__item:nth-of-type(2) {
  margin: 0 15px;
}

.getInTouch__fontawesome {
  font-size: 24px;
}

/* Tablet */
@media all and (min-width: 768px) {
  .getInTouch__container {
    margin-top: 94px;
  }
}

/* Desktop */
@media all and (min-width: 1440px) {
  .getInTouch__container {
    max-width: 1111px;
    margin-top: 94px;
  }

  .getInTouch__grid {
    display: grid;
    grid-template-columns: 350px 635px;
    grid-column-gap: 125px;
    justify-content: center;
  }
}
