.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  background: url('./../img/logo-light.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.navbar__hamburger--icon {
  font-size: 24px;
}
.navbar__link {
  transition: all 250ms ease-in-out;
}
.navbar__link li {
  letter-spacing: 2px;
}
.navbar__link:hover {
  color: var(--desaturated-cyan);
}
.navbar__links__container {
  display: none;
}

/* Tablet */
@media all and (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
  .navbar__links__container {
    display: flex;
  }
  .navbar__link:nth-of-type(2) {
    margin: 0 40px;
  }
}
