.portfolioView__container {
  max-width: 1100px;
  margin: 0 32px;
  margin-top: 40px;
}

/* Tablet */
@media all and (min-width: 768px) {
  .portfolioView__container {
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 80px;
  }
}

/* Desktop */
@media all and (min-width: 1440px) {
  .portfolioView__container {
    margin: 0 auto;
    margin-top: 80px;
  }
}
