.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

/* Tablet */
@media all and (min-width: 768px) {
  .portfolio__container {
    margin-top: 80px;
  }
}

/* Desktop */
@media all and (min-width: 1440px) {
  .portfolio__container {
    margin-top: 80px;
  }
}
