.projectCard__img {
  max-width: 100%;
}

.projectCard__img--overview {
  margin-bottom: 40px;
}

.projectCard__img--static--1 {
  margin-bottom: 32px;
}

.projectCard__img--static--2 {
  margin-bottom: 64px;
}

.projectCard__section--overview {
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr;
}

.projectCard__title {
  margin-bottom: 24px;
}

.projectCard__text--description {
  margin-bottom: 24px;
}

.projectCard__categories__container {
  margin-bottom: 24px;
}

.projectCard__categories {
  color: #5fb4a2;
  font-weight: bold;
  line-height: 30px;
  font-size: 13px;
}

.projectCard__hr {
  width: 100%;
}

.projectCard__hr--bottom {
  margin-bottom: 48px;
}

.projectCard__subtitle--background {
  margin-bottom: 28px;
}

.projectCard__text--background {
  margin-bottom: 40px;
}

.projectCard__subtitle--preview {
  margin-bottom: 40px;
}

.projectCard__menu {
  height: 148px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.projectCard__menu__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projectCard__menu__content--left,
.projectCard__menu__content--right {
  width: 100%;
}

.projectCard__menu__content--right {
  text-align: right;
}

.projectCard__menu__content--left--label,
.projectCard__menu__content--right--label {
  font-size: 16px;
  opacity: 0.5;
  line-height: 30px;
}

.projectCard__menu__content--middle {
  height: 100%;
  width: 1px;
  background-color: #979797;
}
.projectCard__menu__content--left--symbol,
.projectCard__menu__content--right--symbol {
  font-size: 20px;
}

.projectCard__menu__content--right--title,
.projectCard__menu__content--left--title {
  transition: all 300ms;
}

.projectCard__menu__content--right--title:hover,
.projectCard__menu__content--left--title:hover {
  color: var(--desaturated-cyan);
}

/* Tablet */
@media all and (min-width: 768px) {
  .projectCard__container {
    max-width: 800px;
    margin: 0 auto;
  }
  .projectCard__title {
    margin-bottom: 16px;
  }
  .projectCard__text--description {
    margin-bottom: 16px;
  }

  .projectCard__menu {
    height: 132px;
  }

  .projectCard__menu__content--left {
    display: flex;
    align-items: center;
  }
  .projectCard__menu__content--left--symbol {
    margin-right: 32px;
  }

  .projectCard__menu__content--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .projectCard__menu__content--right--symbol {
    order: 1;
    margin-left: 32px;
  }
}

/* Desktop */
@media all and (min-width: 1440px) {
  .projectCard__container {
    max-width: 1111px;
  }
  .projectCard__desktop-container {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-column-gap: 125px;
  }
  .projectCard__img--overview {
    margin: 0 auto;
    margin-bottom: 115px;
  }
  .projectCard__title {
    margin-bottom: 29px;
  }
  .projectCard__text--description {
    margin-bottom: 23px;
  }
  .projectCard__categories__container {
    margin-bottom: 32px;
  }
  .projectCard__subtitle--background {
    margin-bottom: 28px;
  }
  .projectCard__subtitle--preview {
    margin-bottom: 28px;
  }
  .projectCard__img--static--1 {
    margin-bottom: 32px;
  }
  .projectCard__img--static--2 {
    margin-bottom: 64px;
  }
}
