/* React Burger Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 14px;
  right: 32px;
  top: 42px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--gray-dark-blue);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--desaturated-cyan);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
  font-size: 30px;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  margin-left: 32px;
  background: var(--gray-dark-blue);
  padding: 40px;
  font-size: 16px;
}

/* Wrapper for item list */
.bm-item-list {
  text-align: right;
  color: #ffffff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 32px;
  letter-spacing: 2px;
}

.bm-item:hover {
  color: var(--desaturated-cyan);
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-left: 32px;
}
