// Variables
$color-red: #d72323;

// Reset
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: $color-red;
}

ul,
ol {
  li {
    margin-top: 3px;
  }
}

// General Styles
.body {
  background-color: #eee;
}
.title {
  color: $color-red;
}

// Header
header {
  border-top: 3px solid $color-red;
  h1 {
    font-style: italic;
  }

  h2 {
    margin-top: 0.25em;
    font-weight: normal;
  }
}

// Front-End / Back-End side by side
.middle {
  border-top: 3px solid $color-red;
}

// Tabs
.tabs {
  border-bottom: 3px solid #3d3d3d;
  border-right: none;
}

.tabs .x-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .x-container > div {
  padding: 1.5rem 0;
}

.tabs .x-container > div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: $color-red 4px solid;
}

/* Tab Content */
.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

/* Container */
.x-container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
